[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/nativefiledialog-extended"]
	path = ThirdParty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
